<!-- Sidebar -->
<!--<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">-->
<ul class="navbar-nav sidebar accordion shadow position-relative" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <!-- <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-handshake-simple fa-bounce"></i>
        </div> -->
        <img src="/img/logo_symbology.svg" class="sidebar-brand-icon">
        <!-- <div class="sidebar-brand-text mx-2">Semcitec<sup>System</sup></div> -->
        <img src="/img/logo_typography.svg" class="sidebar-brand-text mx-2">
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/dashboard">
            <i class="fas fa-fw fa-chart-line"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divi"der -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        ACADÊMICO
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-graduation-cap"></i>
            <span>Alunos</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionSidebar">
            <div class="bg-light py-2 collapse-inner rounded">
                <a class="collapse-item" href="/student">
                    <i class="fas fa-fw fa-list"> </i>
                    Lista de Alunos
                </a>
                <a class="collapse-item" href="/student/newStudent">
                    <i class="fas fa-fw fa-plus"> </i>
                    Novo Aluno
                </a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseUtilities"
           aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-chalkboard"></i>
            <span>Cursos</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
             data-bs-parent="#accordionSidebar">
            <div class="bg-light py-2 collapse-inner rounded">
                <a class="collapse-item" href="/course">
                    <i class="fas fa-fw fa-list"> </i>
                    lista de Cursos
                </a>
                <a class="collapse-item" href="/course/newCourse">
                    <i class="fas fa-fw fa-plus"> </i>
                    Novo Curso
                </a>
<!--                <div class="collapse-divider"></div>-->
<!--                <h6 class="collapse-header">Turmas:</h6>-->
<!--                <a class="collapse-item" href="/course/listClasses">-->
<!--                    <i class="fas fa-fw fa-list"> </i>-->
<!--                    Listar Turmas-->
<!--                </a>-->
<!--                <a class="collapse-item" href="/course/newClass">-->
<!--                    <i class="fas fa-fw fa-plus"> </i>-->
<!--                    Nova Turma-->
<!--                </a>-->
            </div>
        </div>
    </li>
     <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapse-hours"
           aria-expanded="true" aria-controls="collapse-hours">
            <i class="fas fa-fw fa-chalkboard"></i>
            <span>Horarios</span>
        </a>
        <div id="collapse-hours" class="collapse" aria-labelledby="collapse-hours"
             data-bs-parent="#accordionSidebar">
            <div class="bg-light py-2 collapse-inner rounded">
                <a class="collapse-item" href="/schedule/list">
                    <i class="fas fa-fw fa-list"> </i>
                    Lista de Horarios
                </a>
                <a class="collapse-item" href="/schedule/new">
                    <i class="fas fa-fw fa-plus"> </i>
                    Atribuir Horários
                </a>
<!--                <div class="collapse-divider"></div>-->
<!--                <h6 class="collapse-header">Turmas:</h6>-->
<!--                <a class="collapse-item" href="/course/listClasses">-->
<!--                    <i class="fas fa-fw fa-list"> </i>-->
<!--                    Listar Turmas-->
<!--                </a>-->
<!--                <a class="collapse-item" href="/course/newClass">-->
<!--                    <i class="fas fa-fw fa-plus"> </i>-->
<!--                    Nova Turma-->
<!--                </a>-->
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading" style="word-wrap: break-word;">
        Administrativo
    </div>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="/institute">
            <i class="fas fa-fw fa-building-columns"></i>
            <span>Instituição</span></a>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="true"
           aria-controls="collapsePages">
            <i class="fas fa-fw fa-users"></i>
            <span>Funcionários</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages"
             data-bs-parent="#accordionSidebar">
            <div class="bg-light py-2 collapse-inner rounded">
                <a class="collapse-item" href="/user/listUsers">
                    <i class="fas fa-fw fa-list"></i>
                    Listar Funcionários
                </a>
                <a class="collapse-item" href="/user/newUser">
                    <i class="fas fa-fw fa-user-plus"></i>
                    Novo Funcionário
                </a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Ofícios -->
    <li class="nav-item">
        <a class="nav-link" href="/officialDoc">
            <i class="fas fa-fw fa-file-invoice"></i>
            <span>Ofícios</span></a>
    </li>

    <!-- Nav Item - Documentos -->
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-folder-open"></i>
            <span>Documentos</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->