<!-- Main page content-->
<!-- Account page navigation-->
<div class="row" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="col-xl-4">
    <!-- Profile picture card-->
    <div class="card mb-4 mb-xl-0 shadow">
      <h5 class="card-header text-primary" th:text="${student.name}"></h5>
      <div class="card-body">
        <p class="text-secondary"><i class="fa fa-phone"> :</i> <span
            th:text="${student.phone1 + ' / ' + student.phone2}"></span></p>
        <p class="text-secondary"><i class="fa fa-envelope"> :</i> <span th:text="${student.email}"></span> </p>
        <p class="text-secondary"><i class="fa fa-map-location-dot"> :</i> <span
            th:text="${student.street + ' nº ' + student.houseNumber + ' - ' + student.neighborhood + ' - ' + student.city}"></span>
        </p>
      </div>
      <div class="card-footer text-center">
        <a th:href="${'https://web.whatsapp.com/send?1=pt_BR&phone=' + student.phone1}" target="_blank"
          class="btn btn-whatsapp"><i class="fa-brands fa-2x fa-whatsapp"></i></a>
        <a th:href="${'tel:' + student.phone1}" class="btn btn-phone"><i class="fa fa-2x fa-phone fa-shake"></i></a>
      </div>
    </div>
  </div>
  <div class="col-xl-8">
    <!-- Account details card-->
    <div class="card mb-4 shadow h-100">
      <div class="card-header">

        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" id="inscription-tab"
              href="#inscription-content">Matrícula</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" id="student-bill-tab" href="#student-bill">Financeiro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" id="description-tab" href="#description-content">Descrição</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/student/edit/{uuid}(uuid=${student.uuid})}">Editar</a>
          </li>
        </ul>

      </div>
      <div class="card-body">
        <div class="tab-content">

          <div class="tab-pane fade show active" id="inscription-content">
            <a class="btn btn-outline-success mb-3"
              th:href="@{/inscription/newInscription/{uuid} (uuid=${student.uuid})}"
              th:if="${!#lists.isEmpty(inscriptionList)}"><i class="fa-solid fa-pen-to-square"></i> Matricular</a>

            <div class="card-body text-center p-5" th:if="${#lists.isEmpty(inscriptionList)}">
              <img class="img-fluid mb-4" src="/img/undraw_posting_photo.svg" alt="" style="max-width: 16.25rem">
              <h5>Sem Matrícula</h5>
              <p class="mb-4">O aluno não está matricula em nenhum curso!</p>
              <a class="btn btn-outline-success p-3"
                th:href="@{/inscription/newInscription/{uuid} (uuid=${student.uuid})}"><i
                  class="fa-solid fa-pen-to-square"></i> Matricular</a>
            </div>

            <ol class="list-group list-group-numbered" th:each="inscription : ${inscriptionList}">
              <li class="list-group-item list-group-item-action d-flex w-100 justify-content-between">
                <div class="ms-2 me-auto">
                  <h5 class="mb-1" th:text="${inscription.course.name}"></h5>
                  <p class="mb-1" th:text="${inscription.classroom.name}"></p>
                  <small th:text="${inscription.inscriptionCode}"></small>
                </div>
                <div class="ms-2 d-flex align-items-end flex-column">
                  <small th:text="${inscription.status}"></small>
                  <div class="dropdown mt-auto">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      Opções
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" th:href="@{/pdf/inscriptionPdf/{uuid} (uuid=${inscription.uuid})}"
                          target="_blank">Comprovante</a></li>
                      <li><a class="dropdown-item"
                          th:href="@{/certificateGenerator/inscription/{uuid} (uuid=${inscription.uuid})}"
                          th:if="${inscription.status.toString() == 'FINALIZADO'}" target="_blank">Certificado</a></li>
                      <li><a class="dropdown-item disabled" aria-disabled="true" href="#"
                          th:if="${inscription.status.toString() != 'FINALIZADO'}">Certificado</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item text-danger" href="#">Cancelar Matrícula</a></li>
                    </ul>
                  </div>
                </div>
              </li>
            </ol>
          </div>

          <div class="tab-pane fade " id="student-bill">
            <a class="btn btn-outline-success mb-3" th:href="@{/finance/student/{uuid}(uuid=${student.uuid})}"
              th:if="${!#lists.isEmpty(inscriptionList)}"><i class="fa-solid fa-pen-to-square"></i> Financeiro
              detalhado</a>

            <div class="card-body text-center p-5" th:if="${#lists.isEmpty(inscriptionList)}">
              <img class="img-fluid mb-4" src="/img/undraw_posting_photo.svg" alt="" style="max-width: 16.25rem">
              <h5>Sem Matrícula</h5>
              <p class="mb-4">O aluno não está matricula em nenhum curso!</p>
              <a class="btn btn-outline-success p-3"
                th:href="@{/inscription/newInscription/{uuid}(uuid=${student.uuid})}"><i
                  class="fa-solid fa-pen-to-square"></i> Financeiro detalhado</a>
            </div>
            <div class="card-body">

              <div class="table-responsive">
                <table class="table table-hover table-bordered" width="100%" cellspacing="0">
                  <thead class="table-light">
                    <tr>
                      <th>#</th>
                      <th>Lançamento</th>
                      <th>Vencimento</th>
                      <th>Valor Base</th>
                      <th>Status</th>
                      <th>Valor Final</th>


                    </tr>
                  </thead>
                  <tbody id="studentBillTable" th:fragment="table">
                    <tr th:each="bill, iter : ${studentBills}">
                      <td th:text="${iter.count}"></td>
                      <td th:text="${bill.type}"></td>
                      <td th:text="${#temporals.format(bill.dueDate, 'dd/MM/yyyy')}"></td>
                      <td th:text="${bill.baseAmount}"></td>
                      <td>
                        <span th:classappend="${bill.paymentDate != null} ? 'badge bg-success' : 'badge bg-danger'">
                          <span th:text="${bill.paymentDate != null ? 'Pago' : 'Pendente'}"></span>
                        </span>
                      </td>
                      <td th:text="${bill.finalAmount}"></td>

                    </tr>

                    <tr>
                      <td colspan="5" class="text-end fw-bold">Total:</td>
                      <td th:text="${totalAmount}">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- <ol class="list-group list-group-numbered" th:each="studentBill : ${studentBills}">
              <li class="list-group-item list-group-item-action d-flex w-100 justify-content-between">
                <div class="ms-2 me-auto">
                  <h5 class="mb-1" th:text="${studentBill.inscription.course.name}"></h5>
                  <p class="mb-1" th:text="${studentBill.inscription.classroom.name}"></p>
                  <small th:text="${studentBill.inscription.inscriptionCode}"></small>
                </div>
                <div class="ms-2 d-flex align-items-end flex-column">
                  <small th:text="${studentBill.inscription.status}"></small>
                  <div class="dropdown mt-auto">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Opções
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" th:href="@{/pdf/inscriptionPdf/{uuid} (uuid=${inscription.uuid})}" target="_blank">Comprovante</a></li>
                      <li><a class="dropdown-item" th:href="@{/certificateGenerator/inscription/{uuid} (uuid=${inscription.uuid})}" th:if="${inscription.status.toString() == 'FINALIZADO'}" target="_blank">Certificado</a></li>
                      <li><a class="dropdown-item disabled" aria-disabled="true" href="#" th:if="${inscription.status.toString() != 'FINALIZADO'}">Certificado</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item text-danger" href="#">Cancelar Matrícula</a></li>
                    </ul>
                  </div>
                </div>
              </li>
            </ol> -->
          </div>

          <div class="tab-pane fade" id="description-content">
            <form method="post" th:action="@{/student/saveDescription}">
              <input type="hidden" name="uuid" th:value="${student.uuid}">
              <!-- Form input (Obs)-->
              <div class="mb-3">
                <label class="small mb-1" for="inputDescription">Observação</label>
                <textarea class="form-control" name="obs" id="inputDescription" rows="5"
                  th:text="${student.obs}"></textarea>
              </div>
              <!-- Form file (dossier)-->
              <!-- <div class="mb-3">
                <label for="formFile" class="form-label">Importe um arquivo em "pdf" para anexar ao usuário</label>
                <input class="form-control" type="file" id="formFile" name="file" value="Escolha o arquivo">
              </div> -->
              <button class="btn btn-primary" type="submit">Salvar</button>
            </form>
            <!-- <form class="input-group" th:action="@{/user/saveImg}" method="post" enctype="multipart/form-data">
              <input type="hidden" name="uuid" th:value="${userData.uuid}">
              <input type="file" name="img" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
              <button class="btn btn-primary" type="submit" id="inputGroupFileAddon04">Enviar</button>
            </form> -->
          </div>

          <div class="tab-pane fade" id="details-content">
            <a class="btn btn-outline-success" th:href="@{/student/edit/{uuid} (uuid=${student.uuid})}"
              data-bs-toggle="tooltip" data-bs-title="Editar"><i class="fa-solid fa-pen-to-square"></i></a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>